@*Razor page for displaying all the bill data in the database*@
@page
@model HWK6.Pages.ExpenseAnalysis.IndexModel
@{
}
<br>
<h2>List of Bills</h2>
<a class='btn btn-primary btn-sm' href='/ExpenseAnalysis/AddBill'>New Bill</a>
<a class="btn btn-primary btm-sm" href="/ExpenseAnalysis/Analysis">Bill Analysis</a>
<table class="table">
    <thead>
        <tr>
            <th>Bill Date</th>
            <th>Bill Amount</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Expenses)
        {
            <tr>
                <td>@item.Date</td>
                <td>@item.Amount</td>
                <td>@item.Category</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/ExpenseAnalysis/EditBill?id=@item.Id">Edit</a>
                    <a class="btn btn-danger btn-sni" href="/ExpenseAnalysis/Delete?id=@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
